<h1>WebApiReader</h1>

<p>Greetings,</p>

<p>This site returns the most recent articles posted to Hacker News.</p>

<p>The application consists primarily of an angular page, <i>hacker-news.ts</i>, that calls a web controller, <i>NewsConroller</i>. The controller in turn calls a middle-tier layer, <i>WepApiReaderMT</i>. The site was developed with code reuse in mind, so additional API sources should be fairly easy to add.</p>

<p>Let me know what you think, and thank you for your consideration.</p>

<p><b>Jeremiah R. Swoveland</b></p>
